@media screen and (max-width: 576px) {
       .hidden-nav {
           display: none;
       }

       .nav {
           padding: 0;
           margin: 0;
           background-color: #233547;
       }

}