font-face {
    font-family: 'Roboto Regular';
    src: url("../fonts/Roboto-Regular.ttf")
}

body {
    font-family: "Roboto Regular", sans-serif;
}

header {
    position: relative;
    background-image:  url("../img/header-bg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    background: rgba(5, 10, 52, 0.6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li a {
    color: white;
    font-weight: 700;
}

/* utilitaire */

.brands-area {
    padding: 60px 0;
}

.section-gap {
    padding: 130px 0;
}

.right-15px {
    right: 15px;
}

.mt-6 {
    margin-top: 72px;
}

.my-6 {
    margin-top: 72px;
    margin-bottom: 72px;
}

.py-6 {
    padding-top: 72px;
    padding-bottom: 72px;
}

.height-100 {
    height: 100%;
}

.height-80 {
    height: 80%;
}

.vh-60 {
    height: 60vh;
    overflow: hidden;
}

.v-space {
    height: 7vh;
}

.v-space-2 {
    height: 14vh;
    ;
}

/* header style */

/* .container-title-header {
    position: absolute;
    top: 35%;
    left: 6%;
} */

.active a {
    color:#BF9870;
}

nav li a:hover {
    color:#BF9870;
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
}

.header {
    padding: 1rem 5rem;
}

.text-line-1 {
    font-size: 1rem;
    letter-spacing: initial;
}

.text-line-2 {
    line-height: 100%;
    font-weight: 700;
    font-size: 5rem;
}

.button-view {
    color: white;
    border: 1px solid white;
    padding: 1rem 2rem;
}

.social-item {
    margin-top: 2rem;
}

.social-item i {
    padding: 6% 1%;
}

/* dtyle section company */

.logo i {
    border: 1px solid black;
    padding: 2rem 2rem;
}

/* style section about */

.about {
    background-color: whitesmoke;
}

.about-us {
    font-weight: 700;
    font-size: 1.rem;
    color: goldenrod;
}

.world-company {
    font-size: 2.5rem;
    font-weight: 700;
}

.button-about-container {
    margin-top: 15%;
}

.button-about {
    color: black;
    font-weight: 700;
    border: 1px solid goldenrod;
    padding: 1rem 2rem;
}

/* recent work style */

.recent-work-ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.recent-work-a {
    text-transform: uppercase;
    color: black;
}

.active {
    color: goldenrod;
}

/* view project style */

.view-project {
    /* height: 70vh; */
    background: linear-gradient( rgba(5, 10, 52, 0.7), rgba(5, 10, 52, 0.7)), url("../img/ct1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-view-project {
    color: white;
    text-transform: capitalize;
    font-size: 2.5rem;
    font-weight: 700;
}

.play-button {
    padding: 1.5rem;
    border-radius: 50%;
    background-color: white;
}

.play-button-wrapper {
    padding: 0.8rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

.heure {
    color: white;
    font-weight: 700;
}

/* textimonials style */

.testimonial {
    background-color: whitesmoke;
}

.name {
    text-transform: uppercase;
    font-weight: 700;
}

.testimonials-text {
    color: goldenrod;
    font-weight: 500;
    margin-bottom: 0;
}

.container h3 {
    font-weight: 700;
}

.ul-testimonial {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.ul-testimonial li {
    margin: 1rem;
    width: 2rem;
    height: 0.5rem;
    border-radius: 5px;
    background-color: lightgrey;
}

.ul-testimonial li:first-child {
    background-color: goldenrod;
}

/* partenaire images */

.partenaire img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    opacity: 0.3;
}

/* footer style */

.footer {
    background-color: black;
}

.footer .footer-title {
    font-size: 1.2rem;
    color: white;
}

.footer-ul {
    padding: 0;
}

.footer-ul li {
    color: white;
    list-style: none;
    font-weight: 100;
}

.footer-paragraph {
    color: white;
    font-weight: 100;
}

.button-footer {
    padding: 0.5rem 1rem;
}

.email {
    background-color: #334F6C;
    color: gold;
    margin-right: -4px;
}

.email:hover {
    color: gold;
    text-decoration: none;
}

.subscribe {
    color: #334F6C;
    background-color: white;
}

.subscribe:hover {
    color: inherit;
    text-decoration: none;
}

.copyright {
    font-weight: 100;
    color: white;
}

.footer-social-items i {
    padding: 0.7rem;
    background-color: #334F6C;
}

.footer-paragraph {
    color: #6B6E76;
}

.footer ul li {
    color: #6B6E76
}

.author {
    color: #826850;
}